@media only screen and (max-width: 900px) {
    .menu-container {
        padding: 2vw 0 2vw 5vw;
        height: 22vw;
    }

    .logo-container {
        width: 18vw;
        height: 18vw;
    }
    .logo {
        font-size: 6vw;
        top: -1vw;
    }
    .food {
        top: 5.5vw;
    }
    .line {
        width: 2vw;
        height: 2vw;
        top: 3vw;
    }
    .menu-list {
        display: none;
    }
    .social-icons {
        display: none;
    }
    .contacts {
        height: 22vw;
    }
    .phone-call {
        width: 36vw;
        height: 9.4vw;
        font-size: 5.2vw;
        padding: 0.2vw 1.2vw;
        font-weight: normal;
        border: 0.4vw solid #C69749;
        z-index: 100;
    }
    .menubar {
        width: 8vw;
        height: 9vw;
        margin: auto;
        z-index: 100;
    }
    .menubar-icon {
        display: block;
        font-size: 9vw;
        color: #C69749;
        cursor: pointer;
    }
    .close-icon {
        display: block;
        position: fixed;
        font-size: 9vw;
        color: #C69749;
        cursor: pointer;
        z-index: 100;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }

    /*Mobile Navbar SHOW*/
    .mobile-menu-list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--bgColor);
        z-index: 10;
    }
    .mobile-navbar {
        display: flex;
        flex-flow: column wrap;
        margin: 30vw 0;

        text-align: center;
    }
    .mobile-navbar a:last-child {
        margin-bottom: 40vw;
    }
    .mobile-menu-list a {
        color: white;
        font-size: 9vw;
        font-weight: bold;
        margin-bottom: 5vw;
    }

    .phone-call-with-mobile-menu {
        position: absolute;
        left: 10vw;
        top: 8vw;
    }
    .social-icons-mobile-menu {
        display: flex;
        z-index: 100;
        position: absolute;
        top: 115vw;
        left: 50vw;
    }
    .social-icons-mobile-menu .icon {
        font-size: 8vw;
        margin-right: 10vw;
    }
}