@media only screen and (max-width: 900px) {
    .about-us {
        display: block;
        width: 100vw;
        margin: auto;
        background-color: #1E1E1EFF;
        border: none;

    }
    .about-us-image-section {
        width: 100vw;
    }
    .about-us-image {
        width: 100vw;
    }


    .about-us-content {
        width: 80vw;
        margin: auto;
        padding-bottom: 4vw;
    }

    .about-us-header {
        color: var(--mainColor);
        font-size: 5vw;
        margin: 1vw 0;
    }
    .about-us-text {
        color: white;
        font-size: 3vw;
        opacity: 0.8;
    }
}