.contact-container {
    width: 80vw;
    display: flex;
    align-items: center;
    margin: 5vw auto;
    color: white;
}
.google-map {
    width: 50vw;
    height: 30vw;
    margin-top: 4vw;
    margin-left: 22vw;

    display: inline-block;
    overflow: hidden;
}
.frame {
    width: 50vw;
    height: 35vw;
    position:relative;
    top:-6vw;
    border:none;
}

.contact-details {
    width: 35vw;
    background-color: #1e1e1e;
    position: absolute;
    padding: 5vw;
    z-index: -1;
    margin-bottom: 4vw;

}
.detail-header {
    font-size: 3vw;
    color: #C69749;
}
.detail-text {
    margin-top: 2vw;
    font-size: 1.5vw;
    color: white;
}
.detail-time {
    margin-top: 2vw;
    font-size: 1.5vw;
}

.detail-phone-div {
    margin-top: 2vw;
    display: flex;
}
.phone-icon {
    font-size: 1.2vw;
    margin-right: 1.2vw;
    padding-top: 0.5vw;
}
.detail-phone {
    font-size: 1.5vw;
}