@media only screen and (max-width: 900px) {
    .greeting-image {
        width: 50vw;
        top: 10vw;
        right: 0;
    }
    .home-container {
        margin-bottom: 40vw;
    }
    .greeting {
        width: 80vw;
    }

    .big-font {
        font-size: 16vw;
        position: relative;

    }

    .and-line-top {
        position: absolute;
    }
    .and {
        position: relative;
        font-size: 10vw;

    }
    .and-line-bottom {
        position: absolute;
    }

    .text {
        font-size: 15vw;
        text-align: center;
        text-shadow: 0 0 0.5vw black;
    }
    .line-break {
        display: block;
    }

}
