@media only screen and (max-width: 900px) {
    .greeting-image {
        width: 280vw;
        top: -3vw;
        right: 0;
        opacity: 0.4;
    }
    .home-container {

    }
    .greeting {
        width: 80vw;
    }

    .big-font {
        font-size: 16vw;
        position: relative;

    }

    .and-line-top {
        position: absolute;
        top: 54vw;
        left: 15.5vw;
        width: 9.5vw;
        height: 0.5vw;
    }
    .and-container {
        position: absolute;
        margin: auto;
    }
    .and {
        position: relative;
        left: -12vw;
        font-size: 10vw;
        width: 20vw;
        margin: 0 auto;
    }
    .and-line-bottom {
        position: absolute;
        top: 63vw;
        left: 16.5vw;
        width: 12vw;
        height: 0.5vw;
    }

    .text {
        font-size: 15vw;
        text-align: center;
        text-shadow: 0 0 0.5vw black;
        margin-top: 6vw;
    }
    .bottom-text {
        position: relative;
        top: -6vw;
    }
    .line-break {
        display: block;
    }
    .reserve-text {
        font-size: 5vw;
        text-align: center;
    }
    .see-menu-button {
        margin: 12vw auto 0;
        width: 80vw;
        height: 20vw;
        font-size: 5vw;
        font-weight: normal;
        background-color: #1e1e1e;
        color: white;
        border: 0.2vw solid #2f2f2f;
        box-shadow: none;
    }
    .see-menu-button:hover {
        background-color: #131313;
    }


}
