@media only screen and (max-width: 900px) {
    .menu-container {
        padding: 2vw 0 2vw 5vw;
        height: 22vw;
    }
    .logo-container {
        width: 18vw;
        height: 18vw;
    }
    .logo {
        font-size: 6vw;
        top: -1vw;
    }
    .food {
        top: 5.5vw;
    }
    .line {
        width: 2vw;
        height: 2vw;
        top: 3vw;
    }
    .menu-list {
        display: none;
    }
    .social-icons {
        display: none;
    }
    .contacts {
        height: 22vw;
    }
    .phone-call {
        width: 36vw;
        height: 9.4vw;
        font-size: 5.2vw;
        padding: 0.2vw 1.2vw;
        font-weight: normal;
        border: 0.4vw solid #C69749;
    }
    .menubar {
        width: 8vw;
        height: 9vw;
        margin: auto;
    }
    .menubar-icon {
        display: block;
        font-size: 9vw;
        color: #C69749;
        cursor: pointer;
    }
    .close-icon {
        display: block;
        font-size: 9vw;
        color: #C69749;
        cursor: pointer;
    }
    .hide {
        display: none;
    }
}