@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
  background-color: black;
}

ul {
  list-style: none;
}
.icon {
  color: #735F32;
  transition: color 0.4s linear;
}
.icon:hover {
  cursor: pointer;
  color: white;
}
a {
  text-decoration: none;
}
.color-pri {
  color: #735F32;
}
.color-sec {
    color: #C69749;
}
.bold {
  font-weight: bold;
}
.link {
  color: #C69749;
  transition: color 0.4s linear;
}
.link:hover {
  color: #735F32;
}