@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1e1005;
}

ul {
  list-style: none;
}
.icon {
  color: white;
  transition: color 0.4s linear;
}
.icon:hover {
  cursor: pointer;
  color: #c03512;
}
a {
  text-decoration: none;
}

